@font-face {
  font-family: "Inter-500";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../public/assets/fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope-400";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../public/assets/fonts/Manrope-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope-500";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../public/assets/fonts/Manrope-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope-600";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../public/assets/fonts/Manrope-SemiBold.ttf") format("truetype");
}
